/* Карточки акций */
.promo-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.promo-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.promo-img {
  width: 100%;
  height: auto;      /* Не обрезает картинку */
  border-radius: 10px;
}

.promo-item {
  color: #ffc107;
  font-size: 1.1rem;
  font-weight: 700;
}

.calculator-box {
  background: #ffffff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  max-width: 380px;
}

.calculator-section {
  display: flex;
  justify-content: flex-end; /* Отправляем вправо */
}

.hero-logo {
  height: 90px;
  width: auto;
  object-fit: contain;
  background: black;      /* ЧЁРНЫЙ ФОН ПОД ЛОГО */
  padding: 10px;          /* Немного воздуха вокруг изображения */
  border-radius: 10px;    /* Опционально — скругление */
}


/* ошибки */
.invalid-feedback {
  color: #ff4d4f;          /* красный текст */
  font-weight: 500;         /* чуть легче, чем жирный */
  font-size: 0.85rem;       /* немного меньше */
  background: rgba(255, 77, 79, 0.05); /* очень светлый красный фон */
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 4px;

  /* Плавное появление */
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, max-height 0.4s ease;
}

/* Активное состояние ошибки */
input.is-invalid ~ .invalid-feedback,
select.is-invalid ~ .invalid-feedback {
  opacity: 1;
  max-height: 100px; /* достаточно для текста */
}

/* Убираем стрелочки в Chrome, Edge и других WebKit-браузерах */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Убираем стрелки в Firefox */
input[type=number] {
  -moz-appearance: textfield;
}